
</div>

  <div class="footer-padding"></div>
    <div class="footer">
      <p>Made by The eFabriko.dev</p>
    </div>
  </div>
<!-- 
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer> -->


</body>
</html>
